img.logo{
  width: auto;
  height: 25px;
  color: white;
  margin-right: 5px;
}

.logotipo{
  display: inline-flex;
}

.nav-link:hover{
  border-radius: 10px;
  background: linear-gradient(45deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}

.nav-link.active{
  border: 1px solid red;
  border-radius: 10px;
}

.dropdown div{
  background-color: #212529 !important; 
}

.dropdown-item{
  color: white !important; 
}

.dropdown-item:hover{
  border: 1px dashed red;
  border-radius: 10px;
  background-color: transparent !important;
}